body {
	background-color: #FADADD;
	margin:0;
}
main {
	padding-left:20px;
	padding-right:26px;
}
footer {
	background: linear-gradient(#FADADD, #EEBEF1);
	padding-left:20px;
	padding-right:26px;
}
h1 {
	text-align:center;
	color:black;
}
p {
	text-align:justify;
}
table {
	border: 1px solid pink; 
	border-collapse: collapse; 
	text-align:center;
}
th,td {
	border: 1px solid pink;
}
ul {
		list-style: url("вешалка.png")
}

